@page
@model MintaProjekt.Pages.DepartmentsModel
@{
}


<h1>Departments</h1>

<table class="table">
    <thead>
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Leaders</th>
            <th>Select new leader</th>
            <th>Submit</th>
        </tr>

    </thead>
    <tbody>
        @if(Model.Departments != null){

            @foreach(var department in Model.Departments){
                <tr>
                    <td>@department.DepartmentID</td>
                    <td>@department.DepartmentName</td>
                    <td>
                        @foreach (var leader in department.Leaders)
                        {
                            <span>@leader.FullName</span>
                            <br />
                        }
                    </td>
                    <td>
                         <form method="post">
                            <input type="hidden" asp-for="DepartmentID" value="@department.DepartmentID" />
                            <select asp-for="NewLeaderID" asp-items="@(new SelectList(department.Employees, "EmployeeID", "FullName"))">
                                <option value="" disabled selected>Select an option</option>
                            </select>
                        <td>
                            <button type="submit">Update Leader</button>
                        </td>
                        </form>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>