@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MintaProjekt.Pages.EmployeesModel
@{
}

<h1>@Localizer["Employees"]</h1>

@if (Model.EmployeePager != null)
{
    <div class="container">
        @if (Model.EmployeePager.TotalPages > 0)
        {
            <ul class="pagination justify-content-center">

                @if (Model.EmployeePager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="?PageNumber=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?PageNumber=@(Model.EmployeePager.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (int i = Model.EmployeePager.StartPage; i <= Model.EmployeePager.EndPage; i++)
                {
                    <li class="page-item @(i == Model.EmployeePager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="?PageNumber=@i">@i</a>
                    </li>
                }

                @if (Model.EmployeePager.CurrentPage < Model.EmployeePager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="?PageNumber=@(Model.EmployeePager.CurrentPage +1)">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?PageNumber=@(Model.EmployeePager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>@Localizer["EmployeeID"]</th>
            <th>@Localizer["FirstName"]</th>
            <th>@Localizer["LastName"]</th>
            <th>@Localizer["Email"]</th>
            <th>@Localizer["PhoneNumber"]</th>
            <th>@Localizer["HireDate"]</th>
            <th>@Localizer["JobTitle"]</th>
            <th>@Localizer["Department"]</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Employees != null)
        {
            @foreach (var entity in Model.Employees)
            {
                <tr>
                    <td>@entity.EmployeeID</td>
                    <td>@entity.FirstName</td>
                    <td>@entity.LastName</td>
                    <td>@entity.Email</td>
                    <td>@entity.PhoneNumber</td>
                    <td>@entity.HireDate</td>
                    <td>@entity.JobTitle</td>
                    <td>@entity.DepartmentName</td>
                </tr>
            }
        }
    </tbody>
</table>