@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model MintaProjekt.Pages.IndexModel
@{
}

<h2>@Localizer["SelectLanguage"]</h2>
<form method="post" asp-page-handler="SetLanguage">
    <select name="culture" onchange="this.form.submit();">
        <option value="">-select-</option>
        <option value="hu-HU">Hungarian</option>
        <option value="en-US">English</option>
    </select>
</form>


@if (Model.CurrentUser != null)
{
    <h1>@Localizer["Welcome"], @Model.CurrentUser.UserName!</h1>
}
else
{
    <h1>@Localizer["Welcome"]!</h1>
}
<h2>@Localizer["HelloMessage"]</h2>
